body {
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  margin: 0;

}
.images{
  height: 10em;
  width: auto;
  

}
#container {
  width: 50em;
  background-color: aliceblue;
  border-radius: 3px;
  padding: 0px 15px 0px 15px;
  margin: 15px auto;
  border: 1px solid #ddd;
  justify-content: center;
  height: auto;

}

h1 {
  background-color: cadetblue;
  text-align: center;
  color: white;
  padding: 5px;
}



input[type=text] {
  border: 1px solid #ccc;
  padding: 5px;
  width: 300px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  border: 1px solid #ccc;
  margin-left: 15px;
  padding: 5px 15px;
  font-size: 15px;
  cursor: pointer;
}

.delete {
  cursor: pointer;
  color: red;
  font-weight: bold;
  font-size: 23px;
  position: relative;
  
}

.edit {
  cursor: pointer;
  color: aqua;
  position: relative;
  
}

#todosList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50em;
  align-items: center;
  height: auto;
}
.item {
  width: 24%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0 / 10%);
  transition: 1s;
  border: 1px solid black;
}

.text{
  font-size: 1.2em;
}


@media (max-width: 800px) {
  #todosList {
    display: block;
    
  }
  .delete{
    left: 285px;
  }
}